body {
    font-size: 15pt;
    background-color: white;
    text-align: center;
}
button {
    background-color: lightgrey;
    color: black;
    border: none ;
    border-radius: 5px;
}
li {
    text-align: left;
}